.mainB {
    margin-top: 141px;
}

.blockA {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 171px;
    color: #3D4F9F;
    /* padding-right: 340px;
    padding-left: 340; */
    align-items: center;
}
.blockB {
    display: flex;
    flex-direction: row;
    padding-top: 92px;
    margin-left: 340px;
    margin-right: 340px;
    /* margin-top: 325px; */
    /* margin-bottom: 307px; */
    /* justify-content: space-between; */
    /* padding-left: 136px; */
    color: #4074F8;
   
}

.blockC {
    display: flex;
    flex-direction: row;
    padding-top: 92px;
    margin-left: 568px;
    margin-bottom: 172px;
    /* width: 337px;
    height: 43px; */
}
.titleA {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 12px;
letter-spacing: 0.1em;
text-transform: uppercase;

}

.titleB {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.blockBA {
    
}

.blockBC {
    padding-left: 67px;
    padding-bottom: 33px;
}
.blockBD {
    padding-left: 67px;
}
.blockBE {
    padding-left: 67px;
}

.circleA {
    height: 69px;
    width: 69px;
    background: #F1F5FF;
    border-radius: 50%;
    display: inline-block;
}

.line1 {
    padding-top: 33px;
}

.text1 {
    padding-top: 25px;
}
.img1 {
    width: 14px;
    height: 17px;
}

.img2 {
    width: 23px;
height: 14px;
}

.img3 {
width: 17.75px;
height: 15px;
}
.img4 {
    width: 17.25px;
    height: 15.5px;
}

.btn22 {
width: 113px;
height: 43px;
background: #FFD7D7;
border-radius: 2px;
}

.text22 {
    width: 82px;
    height: 17px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    /* align-items: center;
    text-align: center; */
    color: #D43F3F;
    padding-top: 13px;

}

.btn23 {
    padding-right: 47px;
    padding-left: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    color: #ADB3CB;
    text-align: center;
    /* padding-top: 92px; */
    }

.btn24 {
    width: 113px;
    height: 43px;
    background: #D2E1FF;
    border-radius: 2px;
}

.text23 {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #3A79FF;
}

